@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

.loaderOverlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: .75;
    z-index: 9999;
}

.loader {
    padding-left: 17px;
    border: 13px solid #f3f3f3;
    border-radius: 50%;
    border-top: 13px solid rgb(34, 85, 130);
    width: 90px;
    height: 90px;
    -webkit-animation: spin .6s linear infinite; /* Safari */
    animation: spin .6s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0, 0, 0, 0.67);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

    .overlay a:hover, .overlay a:focus {
        color: #f1f1f1;
    }

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}