@model BindingModel.V1._0.User.UserBindingModel

<div class="modal" id="modalEditUser" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="modalContentEditUser">
            <div class="card  bg-white">
                <div class="card-header" id="cardHeaderModalEditUser">
                    <h4 class="pt-1">   Edit User </h4>
                </div>
                <form id="formEditUser" asp-area="Admin"
                      asp-controller="UserManagement" asp-action="EditUserAsync"
                      method="post" data-ajax="true"
                      data-ajax-success="userManagementController.editUserOnSuccess"
                      data-ajax-failure="userManagementController.editUserOnfailure"
                      data-ajax-begin="userManagementController.editUserOnBegin"
                      data-ajax-complete="userManagementController.editUserOnComplete"
                      data-ajax-mode="replace"
                      data-ajax-update="#ajaxEditUserResult">
                    <div class="card-body pl-3 pr-3 pt-0" id="editUserCardBody">

                        <div id="ajaxEditUserResult">

                            <div class="row shadow-sm bg-white rounded">
                                <div class="col-6 text-center">
                                    <label>User Id</label>
                                    <h4>@Model.UserId</h4>
                                </div>
                                <div class="col-6 text-center">
                                    <label>User Name</label>
                                    <h4>@Model.UserName</h4>
                                    <input hidden="hidden" type="text" asp-for="UserName"
                                           class="form-control" id="txtUserName"
                                           placeholder="Enter User Name">
                                </div>
                            </div>
                            <div class="row pt-3">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label asp-for="FirstName"></label>
                                        <input type="text" asp-for="FirstName"
                                               class="form-control" id="txtFirstName"
                                               placeholder="Enter First Name">
                                        <span asp-validation-for="FirstName" class="text-danger small"></span>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label asp-for="LastName"></label>
                                        <input type="text" asp-for="LastName"
                                               class="form-control" id="txtLastName"
                                               placeholder="Enter LastName">
                                        <span asp-validation-for="LastName" class="text-danger small"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">

                                        <label asp-for="Email"></label>
                                        <input type="text" asp-for="Email"
                                               class="form-control" id="txtEmail"
                                               placeholder="Enter Email">
                                        <span asp-validation-for="Email" class="text-danger small"></span>
                                    </div>
                                </div>

                                <div class="col-6">
                                    <div class="form-group pt-2">
                                        <div class="custom-control custom-switch">
                                            <input type="checkbox" class="custom-control-input" id="IsActive"
                                                   asp-for="IsActive">
                                            <label class="custom-control-label" asp-for="IsActive"></label>
                                        </div>
                                    </div>

                                    <div class="form-group pt-2">
                                        <div class="custom-control custom-switch">
                                            <input type="checkbox" class="custom-control-input" id="IsLocked"
                                                   asp-for="IsLocked">
                                            <label class="custom-control-label" asp-for="IsLocked"></label>
                                        </div>
                                    </div>

                                   
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer text-center">
                        <div>
                            <button type="submit" class="btn btn-primary ml-5">
                                <i class="fas fa-save"></i> Save
                            </button>
                            <button type="button" id="btnEditUserRolesCancel"
                                    onclick="userManagementController.loadUpdateUserRolesPartialView('@Url.Action("LoadUpdateUserRolesPartialViewAsync", "UserManagement", new { Area = "Admin", userName = @Model.UserName })')"
                                    class="btn  btn-info ml-3">
                                <i class="fas fa-user-cog"></i>Edit Roles
                            </button>
                            <button type="button" id="btnAddUserCancel"
                                    onclick="userManagementController.closeEditUserPartialView()"
                                    class="btn btn-dark ml-3">
                                <i class="fas fa-times"></i>Cancel
                            </button>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $('#modalEditUser').modal('show');

    $("#modalContentEditUser").draggable(
        {
            handle: "#cardHeaderModalEditUser"
        }
    );
</script>