@model IEnumerable<BindingModel.V1._0.FileCrypt.FileCryptBindingModel>
    
@(Html
                         .Grid(Model)
                         .Build(columns =>
                         {

                         columns.Add(model => model.FileCryptId).Titled("File Crypt Id");
                         columns.Add(model => model.FileName).Titled("File Name");
                         columns.Add(model => model.IsActive).Titled("Active");
                         columns.Add(model => model.CreatedBy).Titled("Uploaded By");
                         columns.Add(model => model.CreatedOn).Titled("Uploaded On");
                         columns.Add(model =>
                         $"<button class='btn btn-success' id=\"{model.FileCryptId}\"" +
                         $"onclick='fileCryptController.decryptAndDownloadFile(" +
                         $"\"{@Url.Action("DecryptAndDownloadFileAsync", "FileCrypt", new { Area = "FileCrypt", fileCryptId = model.FileCryptId })}\")'>" 
                         +$"<i class='fas fa-file-download'  style='padding-right: 0px;font-size: 20px;'></i></button>"
                         +$"<button class='btn btn-info ml-3' id=\"{model.FileCryptId}\"" +
                         $"onclick='userManagementController.loadDeleteUserPartialView(" +
                         $"\"{@Url.Action("LoadDeleteUserPartialView", "UserManagement", new { Area = "Admin", userName = model.FileCryptId })}\")'>" +

                         $"<i class='fas fa-history'  style='padding-right: 0px;font-size: 17px;'></i></button>"
                         +
                         $"<button class='btn btn-danger ml-3' id=\"{model.FileCryptId}\"" +
                         $"onclick='userManagementController.loadDeleteUserPartialView(" +
                         $"\"{@Url.Action("LoadDeleteUserPartialView", "UserManagement", new { Area = "Admin", userName = model.FileCryptId })}\")'>" +

                         $"<i class='fas fa-trash-alt'  style='padding-right: 0px;font-size: 20px;'></i></button>"
                           ).Encoded(false).Titled("Manage").AppendCss("userManagementGridWidth"); ;

})
                         .Empty("No data found")
                         .Id("gridGetsUsersAjax")
                         //.Filterable()
                         //.Sortable()
                         .Pageable()
)