<div class="modal" id="modalUploadFilesToEncrypt" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="modalContentUploadFilesToEncrypt">
            <div class="card  bg-white">
                <form id="formUploadFilesToEncrypt" asp-area="FileCrypt"
                      asp-controller="FileCrypt" asp-action="UploadFiles"
                      method="post" data-ajax="true" enctype="multipart/form-data"
                      data-ajax-success="fileCryptController.uploadFilesOnSuccess"
                      data-ajax-failure="fileCryptController.uploadFilesOnfailure"
                      data-ajax-begin="fileCryptController.uploadFilesOnBegin"
                      data-ajax-complete="fileCryptController.uploadFilesOnComplete"
                      data-ajax-mode="replace"
                      data-ajax-update="#ajaxAddUserResult">
                    <div class="card-header" id="cardHeaderModalUploadFilesToEncrypt">
                        <h4 class="pt-1">   Upload Files </h4>
                    </div>

                    <div class="card-body pl-3 pr-3 pt-3 pb-3" id="addUserCardBody">
                        <div class="row">
                            <div class="col-6">
                                <div class="custom-file">
                                    <input type="file" name="filesForUpload" class="custom-file-input" id="exampleInputFile" multiple>
                                    <label class="custom-file-label" id="testtest" for="filesForUpload" data-browse="Browse">Choose files...</label>
                                </div>
                            </div>
                            <div class="col-6">
                                <p class="lead">
                                    Selected files for upload
                                </p>
                                <div class="bs-component" id="filesForEncrypt" style="overflow-y: auto;height: 360px;">
                                </div>
                            </div>
                        </div>


                    </div>

                    <div class="card-footer text-center">
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-file-upload"></i> Upload
                        </button>
                        <button type="button" id="btnAddUserCancel" onclick="fileCryptController.closeUploadFilesPartialView()"
                                class="btn btn-dark ml-3">
                            <i class="fas fa-times"></i>Cancel
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $('#modalUploadFilesToEncrypt').modal('show');

    $("#modalContentUploadFilesToEncrypt").draggable(
        {
            handle: "#cardHeaderModalUploadFilesToEncrypt"
        }
    );

    homeController.HideLoadingIndicator();

    $("input[name=filesForUpload]").trigger("click");

    var fileSelectedforUplaod = [];

    $("input[name=filesForUpload]").change(function () {

        fileSelectedforUplaod = [];
        $('#filesForEncrypt').html("");

        var names = $(this).get(0);
        for (var i = 0; i < $(this).get(0).files.length; ++i) {

            fileSelectedforUplaod.push($(this).get(0).files[i].name);
            $('#filesForEncrypt').append('<div class="alert alert-dismissible alert-success mr-2" id=fileSelectedAlert'
                + $(this).get(0).files[i].name
                + '> '
                + '<button type="button" class="close" data-dismiss="alert" id=fileSelectedAlertBtn_'
                + $(this).get(0).files[i].name
                + '>×</button>'
                + $(this).get(0).files[i].name
                + '</div>'
            );
        }
    })

    $('[id^="fileSelectedAlertBtn_"]').click(function () {
        var newFileList = Array.from($('#exampleInputFile').get(0).files);
        newFileList.splice(2, 1);

    })
</script>
