/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}

.fas {
    padding-right: 8px;
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

    .form-label-group input:not(:placeholder-shown) {
        padding-top: 1.25rem;
        padding-bottom: .25rem;
    }

    .form-label-group > input, .form-label-group > label {
        height: 3.125rem;
        padding: .75rem;
    }

    .form-label-group input:not(:placeholder-shown) ~ label {
        padding-top: .25rem;
        padding-bottom: .25rem;
        font-size: 12px;
        color: inherit;
    }

    .form-label-group > label {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        margin-bottom: 0;
        line-height: 1.5;
        color: transparent;
        pointer-events: none;
        cursor: text;
        border: 1px solid transparent;
        border-radius: .25rem;
        transition: all .1s ease-in-out;
    }

    .form-label-group > input, .form-label-group > label {
        height: 3.3rem;
        padding: .75rem;
    }

.swal2-container > .swal2-modal {
    border-radius: 2px;
}

.swal2-popup #swal2-content {
    font-weight: normal;
}

.swal2-popup.swal2-toast {
    border-radius: 2px;
}

body.swal2-toast-shown .swal2-container.swal2-shown {
    top: 56px !important;
}

/* Loader Icon Start */
.loaderOverlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: .75;
    z-index: 9999;
}

.loader {
    padding-left: 17px;
    border: 13px solid #f3f3f3;
    border-radius: 50%;
    border-top: 13px solid rgb(34, 85, 130);
    width: 90px;
    height: 90px;
    -webkit-animation: spin .6s linear infinite; /* Safari */
    animation: spin .6s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Loader Icon End */

/* NonFactors.Grid.Mvc6 Starts */
.userManagementGridWidth {
    width: 216px;
    text-align: center;
}

.mvc-grid th, .mvc-grid td {
    padding: 7px !important;
}

/* NonFactors.Grid.Mvc6 End */
